:root {
  --bg: #ebebeb;
  --color: #202020;
  --header-color: black;
  --subheader-color: black;
  --link-color: blue;
  --link-bg: #c0c0ff;
  --link-hover-color: var(--link-color);
  --link-hover-bg: #e0e0ff;
  --border: black;
  --shadow-color: white;
  --input-bg: white;
  --input-color: black;
  --button-bg: white;
  --button-color: black;
  --button-hover-bg: #c0c0c0;
  --button-hover-color: black;
  --grid-square: white;
  --grid-square-1: #f9af62;
  --grid-square-2: #8b6bdb;
  --grid-square-3: #8edb6d;
  --grid-square-4: #5babf2;
  --grid-shadow: black;
  --grid-shadow-1: var(--grid-shadow);
  --grid-shadow-2: var(--grid-shadow);
  --grid-shadow-3: var(--grid-shadow-1);
  --grid-shadow-4: var(--grid-shadow-2);
  --grid-color: black;
  --grid-color-1: var(--grid-color);
  --grid-color-2: var(--grid-color);
  --grid-color-3: var(--grid-color-1);
  --grid-color-4: var(--grid-color-2);
  --nav-icon-shadow: black;
  --nav-icon-bg: white;
  --nav-icon-color: black;
  --nav-border: #808080;
  --nav-bg: white;
  --nav-link-color: black;
  --nav-link-hover-bg: #f0f0f0;
  --nav-link-hover-color: black;
  --nav-header-color: black;
  --nav-search-color: black;
--nav-search-bg: white;
}
